In [325]:
# Importing modules to read and visualise data

import numpy as np
import pandas as pd

In [326]:
# Reads the excel file EPS_CHANGE_20221028_GS.xlsx
# EPS_CHANGE_20221028_JPMCAZ.xlsx
# EPS_CHANGES_20221028_MS.xls USE HEADER = 1
df = pd.read_excel('EPS_CHANGE_20221028_GS.xlsx', header=2)

df.head(5)

,Unnamed: 0,Company Name,BBG Ticker/ Currency,Forecast Year,EPS,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Comments,% change,Unnamed: 11,Unnamed: 12,Rating,Unnamed: 14,Region,Conviction sector,Rating (* for CL),Market cap (€ mn)
0,NaN,NaN,NaN,NaN,% change,GS (new),GS (old),GS P/E FY,GS vs. Cons EPS,NaN,Sales,OP,PTP,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Befesa SA,BFSA GR,2022E,-0.07079,2.415806,2.599849,14.479637,-0.04927,We update our estimates post Befesa's in-line ...,0.037957,-0.098663,-0.127972,Buy,NaN,Europe,Basic Resources,Buy,1399.19993
2,NaN,NaN,EUR,2023E,0.046133,3.255157,3.111609,10.746024,0.026863,NaN,0.023231,-0.003741,0.017354,NaN,NaN,Europe,Basic Resources,Buy,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe,Basic Resources,Buy,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe,Basic Resources,Buy,NaN

In [327]:
# For loop to rename headers that start with 'unnamed'
# This is done by searching through the rows and finding the next non NaN value and using that as the header
# This is because the excel files are formatted in a way that sometimes pandas will consider the top empty rows as headers

for col in df.columns:
    if col.startswith('Unnamed:'):
        non_null_idx = df.index[df[col].notnull()].tolist()
        if non_null_idx:
            idx = non_null_idx[0]  # get first non-null row index
            new_header = df.loc[idx, col]
            df.rename(columns={col: df.loc[idx, col]}, inplace=True)  # replace header with row value
            df.loc[idx, new_header] = np.nan # Replaces that value with NaN


df.head()

,Unnamed: 0,Company Name,BBG Ticker/ Currency,Forecast Year,EPS,GS (new),GS (old),GS P/E FY,GS vs. Cons EPS,Comments,% change,OP,PTP,Rating,Unnamed: 14,Region,Conviction sector,Rating (* for CL),Market cap (€ mn)
0,NaN,NaN,NaN,NaN,% change,NaN,NaN,NaN,NaN,NaN,Sales,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Befesa SA,BFSA GR,2022E,-0.07079,2.415806,2.599849,14.479637,-0.04927,We update our estimates post Befesa's in-line ...,0.037957,-0.098663,-0.127972,Buy,NaN,Europe,Basic Resources,Buy,1399.19993
2,NaN,NaN,EUR,2023E,0.046133,3.255157,3.111609,10.746024,0.026863,NaN,0.023231,-0.003741,0.017354,NaN,NaN,Europe,Basic Resources,Buy,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe,Basic Resources,Buy,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe,Basic Resources,Buy,NaN

In [328]:

# After the code has changed headers, if there are still unnamed columns they will be removed

# This will remove any empty columns or sometimes the "unnamed 0" at the start

for col in df.columns:
    if col.startswith('Unnamed'):
        df = df.drop(col, axis=1)

In [329]:
# Get the column names and sets it to the variable headers
headers = df.columns


# For loop to iterate over the headers, this is due to the different naming of headers used across the excel files
for header in headers:
    if 'Ticker' in header:
        ticker_header = header
    elif 'FY' in header:
        df = df.rename(columns={'FY': 'Forecast Year'})

In [330]:
#This code will create a new column called currency to seperate the ticker/currency column into 2 new columns

currs = ['USD', 'EUR', 'JPY', 'GBP', 'CHF', 'CAD', 'AUD', 'NZD', 'CNY', 'HKD']

df['Currency'] = df[ticker_header].apply(lambda x: x if (x in currs) else np.nan)

df['Currency'] = df['Currency'].shift(-1)

column_curr = df.pop('Currency')

index_1 = df.columns.get_loc(ticker_header)

df.insert(index_1 + 1, 'Currency', column_curr)

df.head()

,Company Name,BBG Ticker/ Currency,Currency,Forecast Year,EPS,GS (new),GS (old),GS P/E FY,GS vs. Cons EPS,Comments,% change,OP,PTP,Rating,Region,Conviction sector,Rating (* for CL),Market cap (€ mn)
0,NaN,NaN,NaN,NaN,% change,NaN,NaN,NaN,NaN,NaN,Sales,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Befesa SA,BFSA GR,EUR,2022E,-0.07079,2.415806,2.599849,14.479637,-0.04927,We update our estimates post Befesa's in-line ...,0.037957,-0.098663,-0.127972,Buy,Europe,Basic Resources,Buy,1399.19993
2,NaN,EUR,NaN,2023E,0.046133,3.255157,3.111609,10.746024,0.026863,NaN,0.023231,-0.003741,0.017354,NaN,Europe,Basic Resources,Buy,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe,Basic Resources,Buy,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe,Basic Resources,Buy,NaN

In [331]:
# Simple if statement to rename any differently named ticker columns

if ticker_header in list(df.columns):
    df = df.rename(columns={ticker_header  : "Ticker"})
else:
    pass

df.head()

,Company Name,Ticker,Currency,Forecast Year,EPS,GS (new),GS (old),GS P/E FY,GS vs. Cons EPS,Comments,% change,OP,PTP,Rating,Region,Conviction sector,Rating (* for CL),Market cap (€ mn)
0,NaN,NaN,NaN,NaN,% change,NaN,NaN,NaN,NaN,NaN,Sales,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Befesa SA,BFSA GR,EUR,2022E,-0.07079,2.415806,2.599849,14.479637,-0.04927,We update our estimates post Befesa's in-line ...,0.037957,-0.098663,-0.127972,Buy,Europe,Basic Resources,Buy,1399.19993
2,NaN,EUR,NaN,2023E,0.046133,3.255157,3.111609,10.746024,0.026863,NaN,0.023231,-0.003741,0.017354,NaN,Europe,Basic Resources,Buy,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe,Basic Resources,Buy,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe,Basic Resources,Buy,NaN

In [332]:
# Iterate over the column names and remove spaces at the end
for i, col in enumerate(df.columns):
    if col[-1] == ' ':
        df = df.rename(columns={col: col.rstrip()})

In [333]:
# Select headers that contain specific strings

filter_strings = ['Name', 'Ticker', 'Year', 'EPS', '%', 'New', 'Cons', 'EBIT' , 'Sales', 'PE', 'P/E', 'FY']
selected_cols = [col for col in df.columns if any(string in col for string in filter_strings)]

# Create a new DataFrame with selected columns
new_df = df[selected_cols]

new_df.head()

,Company Name,Ticker,Forecast Year,EPS,GS P/E FY,GS vs. Cons EPS,% change
0,NaN,NaN,NaN,% change,NaN,NaN,Sales
1,Befesa SA,BFSA GR,2022E,-0.07079,14.479637,-0.04927,0.037957
2,NaN,EUR,2023E,0.046133,10.746024,0.026863,0.023231
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [334]:
# This code will drop any rows that are entirely NaN values

new_df = new_df[~new_df.isna().all(axis=1)]

new_df = new_df.reset_index(drop=True)

new_df.head()

,Company Name,Ticker,Forecast Year,EPS,GS P/E FY,GS vs. Cons EPS,% change
0,NaN,NaN,NaN,% change,NaN,NaN,Sales
1,Befesa SA,BFSA GR,2022E,-0.07079,14.479637,-0.04927,0.037957
2,NaN,EUR,2023E,0.046133,10.746024,0.026863,0.023231
3,Capgemini,CAP FP,2022E,0.002797,19.232533,-0.14795,0.004658
4,NaN,EUR,2023E,-0.005871,17.0743,-0.142504,-0.001796

In [335]:
# For loop to iterate over each index, if the value is not NaN then the entire row is printed out alongside the respective header
# If it is not NaN but the Forecast Year column is 2023 then the row is printed out from that point on

for index, row in new_df.iterrows():
    year_index = new_df.columns.get_loc('Forecast Year')
    if pd.notna(row['Company Name']):
        print(f"Row {index}:")
        print(row)
    elif not pd.notna(row['Company Name']) and ('2023' in str(row['Forecast Year'])):
        print(f"Row {index}:")
        print(row[year_index:])

Row 1:
Company Name       Befesa SA
Ticker               BFSA GR
Forecast Year          2022E
EPS                 -0.07079
GS P/E FY          14.479637
GS vs. Cons EPS     -0.04927
% change            0.037957
Name: 1, dtype: object
Row 2:
Forecast Year          2023E
EPS                 0.046133
GS P/E FY          10.746024
GS vs. Cons EPS     0.026863
% change            0.023231
Name: 2, dtype: object
Row 3:
Company Name       Capgemini
Ticker                CAP FP
Forecast Year          2022E
EPS                 0.002797
GS P/E FY          19.232533
GS vs. Cons EPS     -0.14795
% change            0.004658
Name: 3, dtype: object
Row 4:
Forecast Year         2023E
EPS               -0.005871
GS P/E FY           17.0743
GS vs. Cons EPS   -0.142504
% change          -0.001796
Name: 4, dtype: object
Row 5:
Company Name         Danone
Ticker                BN FP
Forecast Year         2022E
EPS                0.027962
GS P/E FY          14.29275
GS vs. Cons EPS    0.022752
% change           0.025027
Name: 5, dtype: object
Row 6:
Forecast Year          2023E
EPS                 0.023603
GS P/E FY          14.423214
GS vs. Cons EPS    -0.070185
% change             0.02307
Name: 6, dtype: object
Row 7:
Company Name        Freenet
Ticker              FNTN GR
Forecast Year         2022E
EPS               -0.380743
GS P/E FY                 0
GS vs. Cons EPS   -2.040943
% change           0.000756
Name: 7, dtype: object
Row 8:
Forecast Year          2023E
EPS                -0.038997
GS P/E FY          10.342228
GS vs. Cons EPS     0.108254
% change                   0
Name: 8, dtype: object
Row 9:
Company Name       Heineken
Ticker              HEIA NA
Forecast Year         2022E
EPS                0.002337
GS P/E FY          17.63368
GS vs. Cons EPS   -0.026632
% change          -0.004133
Name: 9, dtype: object
Row 10:
Forecast Year         2023E
EPS               -0.002813
GS P/E FY          16.35325
GS vs. Cons EPS   -0.050603
% change          -0.004107
Name: 10, dtype: object
Row 11:
Company Name       Hexagon AB
Ticker               HEXAB SS
Forecast Year           2022E
EPS                  0.006888
GS P/E FY           24.919213
GS vs. Cons EPS     -0.094586
% change             0.001223
Name: 11, dtype: object
Row 12:
Forecast Year          2023E
EPS                -0.008793
GS P/E FY          25.203226
GS vs. Cons EPS    -0.143375
% change           -0.008246
Name: 12, dtype: object
Row 13:
Company Name       Infrastrutture Wireless SpA
Ticker                                  INW IM
Forecast Year                            2022E
EPS                                  -0.001503
GS P/E FY                            29.197441
GS vs. Cons EPS                      -0.035304
% change                              0.001213
Name: 13, dtype: object
Row 14:
Forecast Year          2023E
EPS                 0.003212
GS P/E FY          26.347724
GS vs. Cons EPS    -0.144772
% change            0.002494
Name: 14, dtype: object
Row 15:
Company Name       Jeronimo Martins
Ticker                       JMT PL
Forecast Year                 2022E
EPS                        0.015878
GS P/E FY                 19.697771
GS vs. Cons EPS            0.079995
% change                   0.010868
Name: 15, dtype: object
Row 16:
Forecast Year          2023E
EPS                 0.009829
GS P/E FY          19.413662
GS vs. Cons EPS    -0.005894
% change            0.083591
Name: 16, dtype: object
Row 17:
Company Name       Neste OYJ
Ticker              NESTE FH
Forecast Year          2022E
EPS                 0.381291
GS P/E FY          14.302348
GS vs. Cons EPS     0.153302
% change            0.035709
Name: 17, dtype: object
Row 18:
Forecast Year          2023E
EPS                 -0.07204
GS P/E FY          17.840074
GS vs. Cons EPS    -0.075065
% change            -0.02067
Name: 18, dtype: object
Row 19:
Company Name        Pirelli
Ticker              PIRC IM
Forecast Year         2022E
EPS                0.062274
GS P/E FY          8.460925
GS vs. Cons EPS   -0.113342
% change           0.026628
Name: 19, dtype: object
Row 20:
Forecast Year         2023E
EPS               -0.043606
GS P/E FY          8.702455
GS vs. Cons EPS   -0.184159
% change           0.013399
Name: 20, dtype: object
Row 21:
Company Name        Renault
Ticker               RNO FP
Forecast Year         2022E
EPS               -0.125167
GS P/E FY          4.532345
GS vs. Cons EPS    0.344714
% change           0.047118
Name: 21, dtype: object
Row 22:
Forecast Year         2023E
EPS               -0.010607
GS P/E FY          3.024173
GS vs. Cons EPS    0.286339
% change            0.01017
Name: 22, dtype: object
Row 23:
Company Name         Repsol
Ticker               REP SM
Forecast Year         2022E
EPS               -0.017501
GS P/E FY          3.236485
GS vs. Cons EPS    0.093109
% change          -0.003319
Name: 23, dtype: object
Row 24:
Forecast Year         2023E
EPS                0.006718
GS P/E FY          3.369803
GS vs. Cons EPS    0.328288
% change                  0
Name: 24, dtype: object
Row 25:
Company Name       Banco Santander
Ticker                      SAN SM
Forecast Year                2022E
EPS                        0.01072
GS P/E FY                 4.831771
GS vs. Cons EPS           0.052866
% change                  0.011514
Name: 25, dtype: object
Row 26:
Forecast Year         2023E
EPS                0.011771
GS P/E FY           4.64199
GS vs. Cons EPS    0.077124
% change           0.013758
Name: 26, dtype: object
Row 27:
Company Name       Unilever Plc
Ticker                   UNA NA
Forecast Year             2022E
EPS                    0.018774
GS P/E FY              17.06276
GS vs. Cons EPS        0.033932
% change               0.022595
Name: 27, dtype: object
Row 28:
Forecast Year          2023E
EPS                 0.005577
GS P/E FY          16.200013
GS vs. Cons EPS    -0.007162
% change            0.013945
Name: 28, dtype: object
Row 29:
Company Name       Unilever Plc
Ticker                  ULVR LN
Forecast Year             2022E
EPS                    0.018774
GS P/E FY             17.048198
GS vs. Cons EPS        0.050475
% change               0.022595
Name: 29, dtype: object
Row 30:
Forecast Year          2023E
EPS                 0.005577
GS P/E FY          16.186187
GS vs. Cons EPS     0.019929
% change            0.013945
Name: 30, dtype: object
Row 31:
Company Name       Universal Music Group
Ticker                            UMG NA
Forecast Year                      2022E
EPS                             0.001058
GS P/E FY                      23.587514
GS vs. Cons EPS                 0.140885
% change                        0.018144
Name: 31, dtype: object
Row 32:
Forecast Year          2023E
EPS                 -0.02553
GS P/E FY          21.794399
GS vs. Cons EPS      0.06984
% change             0.01295
Name: 32, dtype: object
Row 33:
Company Name           Valeo
Ticker                 FR FP
Forecast Year          2022E
EPS                 -0.01242
GS P/E FY          30.158648
GS vs. Cons EPS    -0.337223
% change            0.003799
Name: 33, dtype: object
Row 34:
Forecast Year         2023E
EPS                0.008162
GS P/E FY          8.689541
GS vs. Cons EPS    0.041753
% change           0.018301
Name: 34, dtype: object
Row 35:
Company Name           Zegna
Ticker                ZGN US
Forecast Year          2022E
EPS                -0.038271
GS P/E FY          50.032083
GS vs. Cons EPS    -0.322766
% change            0.008471
Name: 35, dtype: object
Row 36:
Forecast Year          2023E
EPS                -0.024957
GS P/E FY          28.622754
GS vs. Cons EPS    -0.144889
% change           -0.007514
Name: 36, dtype: object

In [336]:
# Create an empty DataFrame with the same columns as new_df
output_df = pd.DataFrame(columns=new_df.columns)

new_df.drop_duplicates(inplace=True)


# Loop through the rows in new_df
for index, row in new_df.iterrows():
    year_index = new_df.columns.get_loc('Forecast Year')
    if pd.notna(row['Company Name']):
        # Append the row to the empty DataFrame
        output_df = output_df.append(row)
    elif not pd.notna(row['Company Name']) and ('2023' in str(row['Forecast Year'])):
        # Append the row starting from the 'Forecast Year' column to the empty DataFrame
        output_df = output_df.append(row[year_index:])

# Write the DataFrame to an Excel file
output_df.to_excel('output.xlsx')